:root {
    --primary-color: #191a1d;
    --primary-color-light: #191a1d;
    --btn-dark-red: #bb0d02;
    --text-light-red: #de1002;
    --font-family: "Rajdhani", sans-serif;
    --transition: all 0.2s  linear 0s;
}
.main-navbar-section
{
    width: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    padding: 18px 0;
    box-shadow: 0 1px 15px rgb(0 0 0 / 50%);
    border-bottom: 1px solid #27292d;
}
.main-navbar-section-navbar
{
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
}
.main-navbar-section-navbar-scrolling
{
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    animation: showScrollingNav 0.4s;
}
@keyframes showScrollingNav {
    from
    {
        transform: translateY(-100%);
    }
    to
    {
        transform: translateY(0);
    }
}
.main-navbar-section-navbar-mobile
{
    width: 100%;
    background-color: var(--primary-color);
}
.main-navbar-section-navbar-main
{
    width: 82%;
    height: 100%;
    margin: 0 auto;
}
.-navbar-main-mobile ul
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    list-style-type: none;
}
.main-navbar-section-navbar-main-mobile ul li
{
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    color: #909090;
    text-transform: uppercase;
    font-family: var(--font-family);
    transition: var(--transition);
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
}
.main-navbar-section-navbar-main-mobile ul li .list-main-parent
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #101012;
}
.main-navbar-section-navbar-main-mobile ul li .list-main-parent .list-main-parent-arrow
{
    display: flex;
    justify-content: end;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile
{
    background-color: var(--primary-color-light);
    display: none;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li
{
    padding: 6px 10px;
    border-bottom: 1px solid #101012;
    position: relative;
}
.main-navbar-section-navbar-main-mobile-contact-item
{
    padding: 10px;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li::before
{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 10px;
    top: 50%;
    transition: var(--transition);
    transform: translateY(-50%);
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li:hover::before
{
    width: 15px;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li:hover
{
    background-color: #101012de;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li a
{
    font-size: 14px;
}
.main-navbar-section-navbar-main-mobile ul li .header-section-two-dropdown-mobile ul li:hover a
{
    padding: 0 20px;
}
.main-navbar-section-navbar-main-mobile ul li:hover
.header-section-two-dropdown-mobile
{
    display: block;
}
.main-navbar-section-navbar-main-mobile ul li box-icon
{
    height: 8px;
    width: 8px;
}
.main-navbar-section-navbar-main-mobile ul li:hover
{
    color: #fff;
}
.main-navbar-section-navbar-main-mobile ul li a
{
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color: #909090;
    text-transform: uppercase;
    font-family: var(--font-family);
    height: 100%;
    display: flex;
    align-items: center;
}
.main-navbar-section-navbar-main-mobile ul li a:hover
{
    color: #fff;
}
.main-navbar-section-navbar-main ul
{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
    justify-content: start;
    list-style-type: none;
}
.main-navbar-section-navbar-main ul li
{
    font-weight: 600;
    height: 100%;
    border-bottom: 1px solid #101012;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-family);
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown
{
    width: 300%;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--primary-color-light);
    border-top: 2px solid var(--text-light-red);
    z-index: 9999;
}
.main-navbar-section-navbar-main ul li:hover
.header-section-two-dropdown
{
    display: block;
}
@keyframes showup{
    from{
        position: absolute;
        top: 80%;
        opacity: 0.4;
    }
    to
    {
        position: absolute;
        top: 100%;
        opacity: 1;
    }
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 8%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--text-light-red);
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul
{
    padding: 5px 0;
    list-style-type: none;
    display: block;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li
{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #101012;
    transition: var(--transition);
    position: relative;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li::before
{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 10px;
    transition: var(--transition);
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li:hover::before
{
    width: 15px;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li:hover
{
    background-color: #101012de;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul .header-section-two-dropdown-last-item
{
    border: none;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li a
{
    font-size: 12px;
    color: #909090;
    transition: var(--transition);
    padding-left: 10px;
}
.main-navbar-section-navbar-main ul li .header-section-two-dropdown ul li:hover a {
    padding-left: 32px;
}
.main-navbar-section-navbar-main ul .active-list-item
{
    color: var(--text-light-red);
}
.main-navbar-section-navbar-main ul li:hover
{
    color: var(--btn-dark-red);
}
.main-navbar-section-navbar-main ul li a
{
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-family);
    height: 100%;
    display: flex;
    align-items: center;
}
.main-navbar-section-navbar-main ul li a:hover
{
    color: var(--btn-dark-red);
}
.main-navbar-section-one
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-navbar-section-two
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.main-navbar-section-two button
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: var(--btn-dark-red);
    color: #fff;
    font-size: 14px;
    border: none;
    font-family: var(--font-family);
    padding: 3px 20px;
    height: 100%;
    cursor: pointer;
    transition: var(--transition);
}
.main-navbar-section-two button:hover
{
    background-color: #aa0e02;
}
.main-navbar-section-two-one
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #000000;
    padding: 0 0 0 5px;
    border: 1px solid #27292d;
}
.input-focused
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #000000;
    padding: 0 0 0 5px;
    border: 1px solid #27292d;
    box-shadow: rgba(240, 240, 240, 0.2) 0px 1px 8px 0px;
}
.main-navbar-section-two-one input
{
    height: 100%;
    width: 20vw;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-family);
    color: #595c67;
    padding-left: 10px;
    transition: var(--transition);
}
.main-navbar-section-two-one input:focus
{
    width: 23vw;
}
.main-navbar-section-two-one input::placeholder
{
    font-size: 14px;
    font-family: var(--font-family);
    color: #595c67;
    font-weight: 600;
}
.main-navbar-section-two-one div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-navbar-section-three
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.main-navbar-section-humb-mobile
{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: end;
}
.main-navbar-section-humb-mobile-main
{
    width: 32px;
    height: 32px;
    background-color: var(--btn-dark-red);
    border: 1px solid var(--text-light-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
}
.main-navbar-section-humb-mobile-main div
{
    width: 60%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
}
.main-navbar-section-three box-icon
{
    height: 37px;
    width: 37px;
    padding: 6px;
    background-color: #3c3f46;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
    border: 2px solid transparent;
}
.main-navbar-section-three box-icon:hover
{
    border: 2px solid #fff;
    background-color: var(--text-light-red);
}
.main-landing-section
{
    width: 100%;
}
.main-landing-section-slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./app_images/landing_one.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid var(--text-light-red);
}

.main-landing-section-slider-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.main-landing-section-slider-item-content
{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 0 120px;
    cursor: pointer;
    z-index: 2;
}
.main-landing-section-slider-item-content-infos
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-landing-section-slider-item-content-infos h1
{
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.main-landing-section-slider-item-content-infos h1 span
{
    color: var(--text-light-red);
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: 400;
}
.main-landing-section-slider-item-content-infos h1 h5
{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: normal;
}
.main-landing-section-slider-item-content .content-btn
{
    border: none;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--text-light-red);
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    transition: var(--transition);
}
.main-landing-section-slider-item-content .content-btn:hover
{
    background-color: var(--btn-dark-red);
}
.main-landing-section-slider-item-content h1
{
    font-family: var(--font-family);
    font-size: 72px;
    color: #fff;
    line-height: 1.2;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    word-spacing: normal;
    cursor: text !important;
    width: fit-content;
}
.main-landing-section-slider-item-content p
{
    width: 36%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.8;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    cursor: text !important;
    word-spacing: normal;
}
.main-landing-section-slider-item-span
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.main-landing-section-slider-item-span div
{
    display: flex;
    gap: 5px;
}
.main-landing-section-slider-item-span div box-icon
{
    height: 16px;
    width: 16px;
}
.main-landing-section-slider-item-span span
{
    color: #fff;
    font-family: var(--font-family);
    font-size: 15px;
}
.main-landing-section-slider-item-span button
{
    color: #fff;
    border: none;
    font-family: var(--font-family);
    font-size: 14px;
    background-color: var(--btn-dark-red);
    cursor: pointer;
    padding: 5px 13px;
    transition: var(--transition);
}
.main-landing-section-slider-item-span button:hover
{
    background-color: #aa0e02;
}
.main-landing-section-slider-item-two
{
    width: 100%;
    height: 100vh;
    background-image: url('./app_images/landing_two.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid var(--text-light-red);
}
.main-landing-section-slider-item-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.main-landing-section-slider-item-three
{
    border-bottom: 2px solid var(--text-light-red);
    width: 100%;
    height: 100vh;
    background-image: url('./app_images/landing_three.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.main-landing-section-slider-item-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.main-landing-section-slider-item-four
{
    width: 100%;
    border-bottom: 2px solid var(--text-light-red);
    height: 100vh;
    background-image: url('./app_images/landing_four.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.main-landing-section-slider-item-four::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.main-landing-section .slick-prev {
    left: 15px;
}

.main-landing-section .slick-next {
    right: 15px;
}
.main-landing-section-slider:hover .slick-prev {
    opacity: 1;
}
.main-landing-section-slider:hover .slick-next {
    opacity: 1;
}
.main-landing-section .slick-prev, .slick-next {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    border-radius: 50%;
    color: white;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s;
}
.main-landing-section .slick-next {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    border-radius: 50%;
    color: white;
    width: 44px !important;
    height: 44px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s;
}
.main-landing-section .slick-prev:before, .slick-next:before
{
    display: none;
}
.main-movie-section
{
    width: 100%;
    padding: 40px 0;
    background-color: #010102;
}
.main-movie-section-one
{
    width: 85%;
    padding: 100px 0;
    margin: 0 auto;
}
.main-movie-section-one-one
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-movie-section-one-one h1
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    z-index: 3;
}
.main-movie-section-one-one h1 box-icon
{
    height: 30px;
    width: 30px;
}
.main-movie-section-one-one h1 span
{
    color: var(--text-light-red);
}
.main-movie-section-one-one button
{
    color: #fff;
    background-color: var(--btn-dark-red);
    border: 1px solid var(--text-light-red);
    font-family: var(--font-family);
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 11px;
    transition: var(--transition);
    z-index: 3;
}
.main-movie-section-one-one button:hover
{
    background-color: #aa0e02;
}
.main-movie-section-one-two
{
    width: 100%;
    padding: 50px 0;
}
.main-movie-section-one-two .slick-prev
{
    left: 5px;
}
.main-movie-section-one-two .slick-prev {
    background-color: #00000081;
    width: 44px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.main-movie-section-one-two .slick-prev:before
{
    display: none;
}
.main-movie-section-one-two .slick-next
{
    right: 3px;
}
.main-movie-section-one-two .slick-next {
    background-color: #00000081 !important;
    border: none !important;
    width: 44px !important;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    border-radius: 0;
}
.main-movie-section-one-two .slick-next:before
{
    display: none;
}
.main-movie-section-one-two-item
{
    background-color: var(--primary-color-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.main-movie-section-one-two .slick-slide
{
    transform: scaleX(0.95);
}
.main-movie-section-one-two .slick-dots
{
    top: 100%;
    margin-top: 40px;
}
.main-movie-section-one-two-item-image
{
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.main-movie-section-one-two-item-image-play
{
    z-index: 2;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--text-light-red);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: all 0.2s;
    justify-content: center;
}
.main-movie-section-one-two-item-image-play-main
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: var(--text-light-red);
}
.main-movie-section-one-two-item:hover .main-movie-section-one-two-item-image-play
{
    opacity: 1;
    box-shadow: var(--text-light-red) 0px 0px 6px 0px;
}
.main-movie-section-one-two-item-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.6s;
    z-index: 1;
}
.main-movie-section-one-two-item-content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
}
.main-movie-section-one-two-item-content h1
{
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 600;
    color: var(--text-light-red);
    transition: var(--transition);
    cursor: pointer;
}
.main-movie-section-one-two-item-content p
{
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.main-movie-section-one-two-item-content span
{
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.main-movie-section-one-two-item-content div
{
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: start;
}
.main-movie-section-one-two-item-content div box-icon
{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.main-movie-section-one-two-item-content h1:hover
{
    color: var(--btn-dark-red);
}
.main-movie-section-one-two-item-image img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.6s;
}
.main-movie-section-one-two-item:hover .main-movie-section-one-two-item-image img
{
    transform: scale(1.1);
}
.main-movie-section-one-two-item:hover .main-movie-section-one-two-item-image::before 
{
    background-color: rgba(0, 0, 0, 0.8);
}
.slick-dots li button:before
{
    display: none;
}
.slick-slider .slick-dots li
{
    background-color: #27292d;
    width: 50px;
    height: 8px;
}
.slick-slider .slick-dots .slick-active
{
    background-color: var(--text-light-red);
    transition: all 0.5s ease-in-out 0s;
}
.slick-dots li button
{
    width: 100%;
    height: 10px;
}
.main-movie-section-two
{
    width: 85%;
    margin: 0 auto;
}
.main-movie-section-two-one
{
    width: 100%;
    padding: 50px 0;
}
.main-movie-section-two-one .slick-prev
{
    left: 5px;
}
.main-movie-section-two-one .slick-prev {
    background-color: #00000081;
    width: 44px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.main-movie-section-two-one .slick-prev:before
{
    display: none;
}
.main-movie-section-two-one .slick-next
{
    right: 3px;
}
.main-movie-section-one-two .slick-prev, .slick-next {
    background-color: #00000081 !important;
    border: none !important;
    width: 44px !important;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    border-radius: 0;
}
.main-movie-section-two-one .slick-next:before
{
    display: none;
}
.main-movie-section-two-one .slick-slide
{
    transform: scaleX(0.95);
}
.main-movie-section-two-one .slick-dots
{
    top: 100%;
    margin-top: 30px;
}
.main-trending-section
{
    width: 100%;
    padding: 50px 0;
    background-color: var(--primary-color);
}
.main-trending-section-one
{
    width: 85%;
    padding: 50px 0;
    margin: 0 auto;
}
.main-trending-section-one-one-one
{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    justify-content: center;
}
.main-trending-section-one-one
{
    width: 100%;
    padding: 18px 0;
    box-shadow: 0 8px 6px -4px rgb(0 0 0 / 30%);
}
.main-trending-section-one-one h1
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.main-trending-section-one-one h1 box-icon
{
    height: 30px;
    width: 30px;
}
.main-trending-section-one-one h1 span
{
    color: var(--text-light-red);
}
.main-trending-section-one-one ul
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    list-style-type: none;
}
.main-trending-section-one-one ul li
{
    color: #fff;
    font-weight: 500;
    font-family: 'Reboto Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.main-trending-section-one-one ul .list-item-selected
{
    position: relative;
}
.main-trending-section-one-one ul .list-item-selected::before
{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
    bottom: -18px;
    animation: listItem 0.7s alternate;
}
.main-poster-section
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.main-poster-section-one
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
    animation: showMovie 2s ease-in-out;
}
@keyframes showMovie {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main-poster-section-one-image
{
    width: 88%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.main-poster-section-one-image-icons
{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-poster-section-one-image:hover .main-poster-section-one-image-icons
{
    display: flex;
}
.main-poster-section-one-image-icons box-icon:nth-child(1)
{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #000000ad;
    padding: 10px;
    animation: icon1Show 0.8s alternate;
}
.main-poster-section-one-image-icons box-icon:nth-child(2)
{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #000000ad;
    padding: 10px;
    animation: icon2Show 0.8s alternate;
}
@keyframes icon1Show {
    from{
        transform: translateX(-80px);
    }
    to
    {
        transform: translateX(0);
    }
}
@keyframes icon2Show {
    from{
        transform: translateX(80px);
    }
    to
    {
        transform: translateX(0);
    }
}
.main-poster-section-one-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.main-poster-section-one-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}
.main-poster-section-one-image:hover img
{
    transform: scale(1.2);
}
.main-poster-section-one-content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.main-poster-section-one-content h1
{
    font-family: var(--font-family);
    font-size: 22px;
    color: var(--text-light-red);
    transition: var(--transition);
    cursor: pointer;
    font-weight: 600;
}
.main-poster-section-one-content h1:hover
{
    color: var(--btn-dark-red);
}
.main-poster-section-one-content h2
{
    font-family: var(--font-family);
    font-size: 15px;
    color: #fff;
}
.main-poster-section-one-content h3
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: var(--font-family);
    font-size: 18px;
    color: #fff;
    gap: 7px;
    font-weight: 500;
}
.main-poster-section-one-content h3 span
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.main-poster-section-one-content h3 span box-icon
{
    height: 17px;
    width: 17px;
}
.main-poster-section-one-content p
{
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 1.6rem;
    color: #fff;
    gap: 7px;
    font-weight: 500;
}
.poster-imdb
{
    font-weight: 600;
}
.main-poster-section-one-content button
{
    padding: 10px;
    color: #fff;
    font-family: var(--font-family);
    font-size: 14px;
    background-color: var(--text-light-red);
    transition: var(--transition);
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.main-poster-section-one-content button:hover
{
    background-color: var(--btn-dark-red);
}
@keyframes listItem {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}
.main-choice-section
{
    width: 100%;
    background-color: #000000;
    padding: 60px 0;
}
.main-choice-section-one
{
    width: 85%;
    margin: 0 auto;
}
.main-choice-section-one-slider
{
    width: 100%;
    padding: 50px 0;
}
.main-choice-section-one-slider-item
{
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.main-choice-section-one-slider .slick-slide
{
    transform: scaleX(0.95);
}
.main-choice-section-one-slider-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: .7s;
}

.main-choice-section-one-two-item-image-play
{
    z-index: 2;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--text-light-red);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: all 0.2s;
    justify-content: center;
}
.main-choice-section-one-two-item-image-play-main
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: var(--text-light-red);
}
.main-choice-section-one-slider-item:hover .main-choice-section-one-two-item-image-play
{
    opacity: 1;
    box-shadow: var(--text-light-red) 0px 0px 6px 0px;
}
.main-choice-section-one-slider-item img
{
    transition: .7s;
    width: 100%;
    object-fit: cover;
}
.main-choice-section-one-slider-item:hover::before
{
    opacity: 1;
}
.main-choice-section-one-slider-item:hover img
{
    transform: scale(1.1);
}
.main-choice-section-one-slider .slick-dots
{
    transform: translateY(15px);
}
.main-choice-section-one-slider .slick-prev
{
    left: 5px;
}
.main-choice-section-one-slider .slick-prev {
    background-color: #00000081;
    width: 44px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.main-choice-section-one-slider .slick-prev:before
{
    display: none;
}
.main-choice-section-one-slider .slick-next
{
    right: 3px;
}
.main-choice-section-one-slider .slick-next {
    background-color: #00000081 !important;
    border: none !important;
    width: 44px !important;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    border-radius: 0;
}
.main-choice-section-one-slider .slick-next:before
{
    display: none;
}
.main-choice-section-one-slider-item-infos
{
    position: absolute;
    left: 17px;
    bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.main-choice-section-one-slider-item-infos box-icon
{
    width: 17px;
    height: 17px;
}
.main-choice-section-one-slider-item-infos h1
{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--text-light-red);
    transition: var(--transition);
}
.main-choice-section-one-slider-item-infos span
{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    color: #fff;
}
.main-choice-section-one-slider-item:hover .main-choice-section-one-slider-item-infos h1
{
    color: var(--btn-dark-red);
}
.main-playlist-section
{
    width: 100%;
    padding: 50px 0;
}
.main-playlist-section-one
{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 20px 0;
}
.main-playlist-section-one h1
{
    display: flex;
    margin-left: -10px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    z-index: 3;
}
.main-playlist-section-one h1 box-icon
{
    height: 30px;
    width: 30px;
}
.main-playlist-section-one h1 span
{
    color: var(--text-light-red);
}
.main-playlist-section-two
{
    width: 85%;
    height: 70vh;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    background-color: var(--primary-color);
    z-index: 3 !important;
}
.main-playlist-section-two-image-playlist
{
    width: 100%;
    height: 100%;
    z-index: 3 !important;
    position: relative;
}
.main-playlist-section-two-image-playlist .main-playlist-section-two-image-playlist-box-icon
{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #00000081;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.main-playlist-section-two-image-playlist .main-playlist-section-two-image-playlist-box-icon box-icon
{
    width: 65px;
    height: 65px;
    margin-left: 5px;
}
.main-playlist-section-two-image-playlist:hover .main-playlist-section-two-image-playlist-box-icon
{
    background-color: #000000bb;
}
.main-playlist-section-two-image-playlist img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.main-playlist-section-two-scroll-playlist
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-playlist-section-two-scroll-playlist::-webkit-scrollbar {
    width: 17px;
}
.main-playlist-section-two-scroll-playlist::-webkit-scrollbar-thumb {
    background-color: #555;
    z-index: 3;
}
.main-playlist-section-two-scroll-playlist-item
{
    width: 100%;
    position: relative;
}
.main-playlist-section-two-scroll-playlist-item-content h1
{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.main-playlist-section-two-scroll-playlist-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-playlist-section-two-scroll-playlist-item-content box-icon
{
    width: 17px;
    height: 17px;
}
.main-playlist-section-two-scroll-playlist-item-content
{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-playlist-section-three
{
    width: calc(85% + 19px);
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.main-playlist-section-three-one
{
    width: 100%;
    z-index: 100;
}
.main-playlist-section-three-one img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}
.main-playlist-section-three-one img:hover
{
    filter: grayscale(100%);
}
.main-playlist-section-three-two
{
    width: 100%;
    z-index: 100;
    background-image: url('../components/app_images/best_bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 35px 0 75px;
    box-sizing: border-box;
    gap: 35px;
    position: relative;
}
.main-playlist-section-three-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.main-playlist-section-three-two .main-playlist-section-three-two-h1
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    z-index: 4;
}
.main-playlist-section-three-two .main-playlist-section-three-two-h2
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    position: relative;
    padding: 10px 0;
    z-index: 4;
}
.main-playlist-section-three-two .main-playlist-section-three-two-h2::before
{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
    bottom: 0;
}
.main-playlist-section-three-two p
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    z-index: 4;
}
.main-playlist-section-three-two h1 span
{
    color: var(--text-light-red);
}
.main-playlist-section-three-two .main-playlist-section-three-two-reviews
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    z-index: 4;
}
.main-playlist-section-three-two-reviews-one
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.main-playlist-section-three-two-reviews-one-item
{
    width: 100%;
    padding: 11px 0;
    border-bottom: 1px solid #de1002;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-playlist-section-three-two h1
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
}
.main-playlist-section-three-two h2
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
}
.main-playlist-section-three-two-reviews-two
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 17px;
}
.main-playlist-section-three-two-reviews-two-item
{
    width: 100%;
    padding: 0 0 10px 0;
    position: relative;
}
.main-playlist-section-three-two-reviews-two-item h1
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-one
{
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-two
{
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-three
{
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-four
{
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-one::before
{
    content: '';
    width: 94%;
    height: 4px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-one::after
{
    content: '94%';
    padding: 2px 9px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 94%;
    top: 50%;
    transform: translate(-94%,-50%);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-two::before
{
    content: '';
    width: 72%;
    height: 4px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-two::after
{
    content: '72%';
    padding: 2px 9px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-72%,-50%);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-three::before
{
    content: '';
    width: 80%;
    height: 4px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-three::after
{
    content: '80%';
    padding: 2px 9px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-80%,-50%);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-four::before
{
    content: '';
    width: 90%;
    height: 4px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 0;
}
.main-playlist-section-three-two-reviews-two-item .main-playlist-section-three-two-reviews-two-item-white-four::after
{
    content: '90%';
    padding: 2px 9px;
    background-color: var(--text-light-red);
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%,-50%);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}
.main-streaming-section
{
    width: 100%;
    background-color: #000000;
    padding: 30px 0;
}
.main-streaming-section-one
{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
.main-streaming-section-two
{
    padding: 70px 0;
    z-index: 3;
    border-top: 1px solid #4a4b50;
    border-bottom: 1px solid #4a4b50;
}
.main-streaming-section-two-item
{
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.main-streaming-section-two-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
}
.main-streaming-section-two-item .main-streaming-section-two-item-flex
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main-streaming-section-two-item-stars
{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    z-index: 3;
}
.main-streaming-section-two-item-stars box-icon
{
    width: 15px;
    height: 15px;
}
.main-streaming-section-two-item-flex h1
{
    color: var(--text-light-red);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    transition: var(--transition);
    z-index: 3;
}
.main-streaming-section-two-item:hover .main-streaming-section-two-item-flex h1
{
    color: #fff;
}
.main-streaming-section-two-item-flex span
{
    color: #fff;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 500;
    z-index: 3;
}
.main-streaming-section-two .slick-slide
{
    transform: scaleX(0.96);
    height: 100%;
}
.main-streaming-section-two-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: .7s;
}

.main-choice-section-one-two-item-image-play
{
    z-index: 2;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--text-light-red);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: all 0.2s;
    justify-content: center;
}
.main-choice-section-one-two-item-image-play-main
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: var(--text-light-red);
}
.main-streaming-section-two-item:hover .main-choice-section-one-two-item-image-play
{
    opacity: 1;
    box-shadow: var(--text-light-red) 0px 0px 6px 0px;
}
.main-streaming-section-two-item:hover::before
{
    opacity: 1;
}
.main-streaming-section-two-item:hover img
{
    transform: scale(1.1);
}

.main-streaming-section-two .slick-prev
{
    left: 0;
}
.main-streaming-section-two .slick-prev {
    background-color: #00000081;
    width: 44px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.main-streaming-section-two .slick-prev:before
{
    display: none;
}
.main-streaming-section-two .slick-next
{
    right: 0;
}
.main-streaming-section-two .slick-next {
    background-color: #00000081 !important;
    border: none !important;
    width: 44px !important;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    border-radius: 0;
}
.main-streaming-section-two .slick-next:before
{
    display: none;
}
.main-streaming-section-two-slider
{
    padding: 40px 0;
}
.main-streaming-section-two-slider-divs
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-streaming-section-two-slider-divs .main-streaming-section-two-slider-divs-item
{
    width: 23px;
    height: 23px;
    background-color: #202022;
    z-index: 3;
    border-radius: 3px;
}
.main-streaming-section-two .slick-dots
{
    display: none !important;
}
.main-footer-section
{
    width: 85%;
    margin: 0 auto;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0;
    grid-gap: 30px;
}
.main-footer-section-one
{
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 25px;
}
.main-footer-section-one p
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.main-footer-section-one-infos
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 17px;
}
.main-footer-section-one-infos-item
{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}
.main-footer-section-one-infos-item span
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.main-footer-section-one-infos-item box-icon
{
    width: 32px;
    height: 32px;
}
.main-footer-section-two
{
    width: 100%;
    display: flex;
    flex-direction: column;
    clear: var(--primary-color);
    align-items: start;
    gap: 20px;
    z-index: 3;
}
.main-footer-section-two h1
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.main-footer-section-two h1 span
{
    color: var(--text-light-red);
}
.main-footer-section-two-images
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.main-footer-section-two-images-item
{
    cursor: pointer;
    width: 95%;
    height: 95%;
    overflow: hidden;
    position: relative;
}
.main-footer-section-two-images-item box-icon
{
    width: 20px;
    height: 20px;
    transition: var(--transition);
    position: absolute;
    left: 50%;
    z-index: 3;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.main-footer-section-two-images-item:hover box-icon
{
    opacity: 1;
}
.main-footer-section-two-images-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 3;
}
.main-footer-section-two-images-item:hover::before
{
    opacity: 1;
}
.main-footer-section-two-images-item img
{
    width: 100%;
    height: 100%;
    transition: var(--transition);
}
.main-footer-section-two-images-item:hover img
{
    transform: scale(1.1);
}
.main-footer-section-three
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 3;
    align-items: start;
    justify-content: space-between;
}
.main-footer-section-three h1
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.main-footer-section-three h1 span
{
    color: var(--text-light-red);
}
.main-footer-section-three-input
{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    
}
.main-footer-section-three-input input
{
    width: 100%;
    border: 1px solid #0c2351;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    padding: 7px 10px;
    color: #fff;
    transition: var(--transition);
}
.main-footer-section-three-input input:focus
{
    box-shadow: rgb(163, 1, 1) 0px 1px 8px 0px;
}

.main-footer-section-three-social-media
{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.main-footer-section-three-social-media box-icon
{
    height: 37px;
    width: 37px;
    padding: 8px;
    background-color: transparent;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
    border: 1px solid #0c2351;
    fill: #fff;
}
.main-footer-section-three-social-media box-icon:hover
{
    fill: var(--text-light-red);
}
.main-footer-section-three-input button
{
    width: 100%;
    border: none;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 600;
    background-color: var(--text-light-red);
    transition: var(--transition);
    cursor: pointer;
    color: #fff;
}
.main-footer-section-three-input button:hover
{
    background-color: var(--btn-dark-red);
}
.main-footer-section-three-input input::placeholder
{
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 500;
}
.main-footer-section-bottom
{
    grid-column: 1/4;
    padding: 30px 0 0 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-footer-section-bottom h1
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-footer-section-bottom h1 span
{
    color: var(--text-light-red);
}
.main-footer-section-bottom ul
{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    list-style-type: none;
}
.main-footer-section-bottom ul li
{
    font-family: var(--font-family);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
}
.main-footer-section-bottom ul li:hover
{
    color: var(--text-light-red);
}
@media (max-width: 768px) {
    .main-footer-section-two-images
    {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .main-footer-section-bottom
    {
        grid-column: 1/2;
    }
    .main-footer-section-bottom ul
    {
        display: none;
    }
    .main-footer-section
    {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 20px 0;
    }
    .main-streaming-section-two-slider
    {
        padding: 20px 0;
    }
    .main-streaming-section-two-slider-divs
    {
        width: 200vw;
    }
    .main-streaming-section-two
    {
        padding: 20px 0;
    }
    .main-streaming-section-one
    {
        width: 95%;
    }
    .main-playlist-section-three-two-reviews-one
    {
        width: 80%;
    }
    .main-playlist-section-three-two .main-playlist-section-three-two-reviews
    {
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }
    .main-playlist-section-three
    {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .main-playlist-section-three-one
    {
        width: 80%;
        padding: 0 15px;
    }
    .main-playlist-section-three-two
    {
        padding: 15px;
        grid-gap: 25px;
    }
    .main-playlist-section-two-image-playlist .main-playlist-section-two-image-playlist-box-icon
    {
        width: 65px;
        height: 65px;
    }
    .main-playlist-section-two-image-playlist .main-playlist-section-two-image-playlist-box-icon box-icon
    {
        width: 45px;
        height: 45px;
    }
    .main-playlist-section-two
    {
        height: 110vh;
    }
    .main-playlist-section-one
    {
        width: 90%;
    }
    .main-playlist-section-one h1
    {
        margin-left: -15px;
    }
    .main-playlist-section-two
    {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 15px 15px 0 15px;
    }
    .main-choice-section-one-slider .slick-slide
    {
        transform: scaleX(1);
    }
    .main-choice-section-one
    {
        width: 95%;
    }
    .main-trending-section-one
    {
        width: 95%;
    }
    .main-trending-section-one-one-one
    {
        width: 95%;
    }
    .main-poster-section
    {
        grid-template-columns: 1fr;
    }
    .main-trending-section-one-one ul li
    {
        font-size: 14px;
    }
    .main-navbar-section-navbar
    {
        display: none;
    }
    .main-movie-section-two-one .slick-prev
    {
        margin-top: -20px;
    }
    .main-movie-section-one-two .slick-next
    {
        margin-top: -20px;
    }
    .main-movie-section-one-two .slick-prev
    {
        margin-top: -20px;
    }
    .main-movie-section-two-one .slick-next
    {
        margin-top: -20px;
    }
    .main-navbar-section
    {
        grid-template-columns: 1fr 1fr;
    }
    .main-navbar-section-humb-mobile
    {
        display: flex;
    }
    .main-navbar-section-one
    {
        justify-content: start;
        padding: 0 15px;
    }
    .main-navbar-section-two
    {
        display: none;
    }
    .main-navbar-section-three
    {
        display: none;
    }
    .main-landing-section-slider-item
    {
        height: 49vh;
    }
    .main-landing-section-slider-item-two
    {
        height: 49vh;
    }
    .main-landing-section-slider-item-three
    {
        height: 49vh;
    }
    .main-landing-section-slider-item-four
    {
        height: 49vh;
    }
    .main-landing-section .slick-prev {
        display: none !important;
    }
    .main-landing-section .slick-next {
        display: none !important;
    }
    .main-landing-section-slider-item-content
    {
        padding: 0 30px;
    }
    .main-landing-section-slider-item-content h1
    {
        font-size: 25px;
    }
    .main-landing-section-slider-item-content p
    {
        display: none;
    }
    .main-landing-section-slider-item-content-infos
    {
        display: none;
    }
    .main-landing-section-slider-item-content .content-btn
    {
        padding: 7px 10px;
        font-size: 15px;
    }
    .main-landing-section-slider-item-content .content-btn box-icon
    {
        height: 16px;
        width: 16px;
    }
    .main-movie-section-one
    {
        width: 92%;
        padding: 50px 0;
    }
    .main-movie-section-two
    {
        width: 92%;
    }
    .main-movie-section-one-two .slick-slide
    {
        transform: scaleX(1);
    }
    .main-movie-section-two-one .slick-slide
    {
        transform: scaleX(1);
    }
    .main-movie-section-one-two-item-content
    {
        gap: 15px;
        padding: 14px;
    }
    .main-movie-section-one-two .slick-prev
    {
        left: 0;
    }
    .main-movie-section-one-two .slick-next
    {
        right: 0;
    }
    .main-movie-section-one-two-item-image-play
    {
        width: 44px;
        height: 44px;
    }
    .main-movie-section-one-two-item-image-play-main
    {
        width: 40px;
        height: 40px;
    }
    .main-movie-section-one-two-item-image-play-main box-icon
    {
        width: 30px;
        height: 30px;
    }
    .main-choice-section-one-two-item-image-play
    {
        width: 44px;
        height: 44px;
    }
    .main-choice-section-one-two-item-image-play-main
    {
        width: 40px;
        height: 40px;
    }
    .main-choice-section-one-two-item-image-play-main box-icon
    {
        width: 30px;
        height: 30px;
    }
    .main-movie-section-one-one button
    {
        padding: 5px 20px;
    }
    .main-movie-section-one-two .slick-dots
    {
        display: flex !important;
        justify-content: space-between !important;
    }
    .main-choice-section-one-slider .slick-dots
    {
        display: flex !important;
        justify-content: space-between !important;
    }
    .main-movie-section-two-one .slick-dots
    {
        display: flex !important;
        justify-content: space-between !important;
    }
}